@import "tailwindcss";

@theme {
  /* font */
  --font-grotesk: "Martian Grotesk";

  --font-weight-thin: 50;
  --font-weight-extralight: 150;
  --font-weight-light: 250;
  --font-weight-normal: 350;
  --font-weight-medium: 450;
  --font-weight-semibold: 550;
  --font-weight-bold: 650;
  --font-weight-extrabold: 750;
  --font-weight-black: 850;

  /* spacings */
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 10px;
  --spacing-xl: 12px;
  --spacing-2xl: 16px;
  --spacing-3xl: 20px;
  --spacing-4xl: 24px;
  --spacing-5xl: 28px;
  --spacing-6xl: 32px;

  /* spacings */
  --rounded-sm: 4px;
  --rounded-md: 8px;

  /* neutral */
  --color-neutral-100: #fafaf9;
  --color-neutral-200: #f5f5f4;
  --color-neutral-300: #e7e5e4;
  --color-neutral-400: #d6d3d1;
  --color-neutral-500: #a6a09b;
  --color-neutral-600: #79716b;
  --color-neutral-700: #57534d;
  --color-neutral-800: #44403b;
  --color-neutral-900: #292524;

  /* primary */
  --color-primary-100: #ffb86a;
  --color-primary-200: #ff8904;
  --color-primary-300: #ff6900;
  --color-primary-400: #f54900;
  --color-primary-500: #ca3500;

  /* error */
  --color-error-100: #ffa2a2;
  --color-error-200: #ff6467;
  --color-error-300: #fb2c36;
  --color-error-400: #e7000b;
  --color-error-500: #c10007;

  /* warning */
  --color-warning-100: #ffdf20;
  --color-warning-200: #fdc700;
  --color-warning-300: #f0b100;
  --color-warning-400: #d08700;
  --color-warning-500: #a65f00;

  /* success */
  --color-success-100: #7bf1a8;
  --color-success-200: #05df72;
  --color-success-300: #00c950;
  --color-success-400: #00a63e;
  --color-success-500: #008236;

  /* animations */
  --animate-spin: spin 0.4s linear infinite;
}

.lucide-icon {
  width: 1em;
  height: 1em;
}

@font-face {
  font-family: Martian Grotesk;
  font-display: swap;
  src: url("/grotesk.woff2") format("woff2");
}
