@import 'tailwindcss';

@theme {
  /* font */
  --font-grotesk: "Martian Grotesk";

  --font-weight-thin: 50;
  --font-weight-extralight: 150;
  --font-weight-light: 250;
  --font-weight-normal: 350;
  --font-weight-medium: 450;
  --font-weight-semibold: 550;
  --font-weight-bold: 650;
  --font-weight-extrabold: 750;
  --font-weight-black: 850;
  
  /* spacings */
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 10px;
  --spacing-xl: 12px;
  --spacing-2xl: 16px;
  --spacing-3xl: 20px;
  --spacing-4xl: 24px;

  /* spacings */
  --rounded-sm: 4px;
  --rounded-md: 8px;

  /* neutral */
  --color-neutral-100: #FAFAF9;
  --color-neutral-200: #F5F5F4;
  --color-neutral-300: #E7E5E4;
  --color-neutral-400: #D6D3D1;
  --color-neutral-500: #A6A09B;
  --color-neutral-600: #79716B;
  --color-neutral-700: #57534D;
  --color-neutral-800: #44403B;
  --color-neutral-900: #292524;

  /* primary */
  --color-primary-100: #FFB86A;
  --color-primary-200: #FF8904;
  --color-primary-300: #FF6900;
  --color-primary-400: #F54900;
  --color-primary-500: #CA3500;

  /* error */
  --color-error-100: #FFA2A2;
  --color-error-200: #FF6467;
  --color-error-300: #FB2C36;
  --color-error-400: #E7000B;
  --color-error-500: #C10007;

  /* warning */
  --color-warning-100: #FFDF20;
  --color-warning-200: #FDC700;
  --color-warning-300: #F0B100;
  --color-warning-400: #D08700;
  --color-warning-500: #A65F00;

  /* success */
  --color-success-100: #7BF1A8;
  --color-success-200: #05DF72;
  --color-success-300: #00C950;
  --color-success-400: #00A63E;
  --color-success-500: #008236;

  /* animations */
  --animate-spin: spin 0.4s linear infinite;
}

.lucide-icon {
  width: 1em;
  height: 1em;
}

@font-face {
  font-family: Martian Grotesk;
  font-display: swap;
  src: url('/grotesk.woff2') format('woff2');
}
